@{
    ViewBag.Title = "Instituto Jeffersonian - Base de Datos";
}

<div class="jumbotron">
    <h1>Instituto Jeffersonian - Taller de Base de Datos</h1>
    <p class="lead">MVC para el proyecto final de Taller de Base de Datos</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Introducción</h2>
        <p>
            Este proyecto presenta un manejador de la base de datos para "Instituto Jeffersonian"
        </p>
    </div>
    <div class="col-md-4">
        <h2>Tablas</h2>
        <p>Listado de las tablas en el proyecto</p>
        <a class="btn btn-default"@Html.ActionLink("Tablas »", "Tablas", "Home")</a>
    </div>

</div>